/*------------------ css reset -------------------------*/

* {
    margin: 0;
    font-size: 100%;
}

body {
    max-width: 100%;
    margin: auto;
    line-height: 1.5em;
    background-color: white;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    color: black;
    overflow-x: hidden;
}


/*-------- logo --------------------------------*/

#logo img {
    width: 5em;
    margin: auto;
    max-width: 4em;
    margin-top: -2em;
    align-content: center;
}


/*------- nav ---------------------------------*/

nav {
    padding-top: 3em;
    padding-right: ;
    padding-left:  ;
    padding-bottom: ;    
    margin: auto;
    max-width: 100%;
    background color: white;
    
}
nav ul li img {
    padding-left: 
    
}
nav ul {
    text-align: center;
    font-size: 1em;
    letter-spacing: .5px;
    margin: auto;
}

nav ul li {
    display: inline;
    margin: 30px;
}

nav a {
    color: black;
    text-decoration: none;
    font-family: 'roboto', sans-serif;
}

.left-nav {
    float: left;
    padding-right: 1em;
    font-size: 1.35em;
          
}

.right-nav {
    float: right;
    padding-right: 1em;
    font-size: 1.35em;
    
}

.right-nav: hover {
    color: lightgrey;
  
        
}

a:hover {
    color: lightgray;
}


/*------------------- ------------------------*/
.cover {
        width: 100%;
        height: 55vh;
        top: 10vh;
        display: inline-block;
        background: url(../img/peek-vm.png) 0vh 60vh no-repeat;
        background-attachment: fixed;
        background-size: contain;
        
}

.me-cover {
        width: 100%;
        height: 50vh;
        top: 10vh;
        display: inline-block;
        background: url(../img) 0vh 60vh no-repeat;
        background-attachment: fixed;
        background-size: contain;
}

.about {
    line-height: 1em;
    margin: auto;
    background-color: #ffff;
    font-size: 4em;
    padding-top: 2em;
    
}

section.about h2 {
    line-height: 1.65em;
    max-width: 100%;
    text-align: center;
   left: 50%;
    font-size: .75em;
    font-family: 'roboto', sans-serif;
    font-weight: normal;
    color: black;
}


.work {
    width: 100%;
    line-height: 1em;
    margin: auto;
    background-color: white;
    font-size: 1.75em;
    padding-bottom: .5em;
    float: left;
}



/*----------- portfolio things -----------------*/

.port > img {
    
    display: inline-block; 
    width: 48%;
    margin: auto; 
}

.port > a {
    
    display: inline-block; 
    width: 48%;
    margin: auto;
    text-align: center;
    float: left;

}
.port > div
{
    margin: auto;
    text-align: center;
}/*----- Footer -----*/


/*------ social media links ----*/

.contact {
    width: 100%;
    line-height: 1em;
    margin: auto;
    background-color: lightgrey;
    font-size: 1.75em;
    padding-bottom: 1em;
    padding-top: 1em;
    float: left;
    font-family: 'Oswald', sans-serif;
}

section.contact h1 {
    line-height: 1em;
    max-width: 100%;
    text-align: center;
    margin: auto;
    font-size: 1em;
    font-family: 'Oswald', sans-serif;
    color: white;
}

section.contact li {
    display: inline;
}

section.contact ul {
  display: flex;
  justify-content: center;
    padding-top: 20px;
    padding-right: 2.5em;
}
section.contact img {
      max-height: 5em;
        max-width: 5em;
        padding-top: 1em;
      
}

/*--- paragraphs ---*/

p {  line-height: 1.65em;
    letter-spacing: .01em;
    max-width: 100%;
    text-align: center;
    margin: auto;
    font-size: .75em;
    font-family: 'Oswald', sans-serif;
    font-weight: normal;
    color: black;
    
}

.visualmarque {
    padding-bottom: .5em;
}




